.cabeçario {
    background-color: #b888d8;
    color: 000000;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    font-size: 20px;
}

.cabeçario-lista h1{
    color: #fff;
}

.cabeçario-lista li a{
    list-style: none;
}
.parte-azul {
    margin: 4px 6px;
}

img.parte-azul {
    width: 15%;
}

.imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
}

.texto-1 {
    display: inline-block;
    margin: 0px 20px;
  }
  
  .imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
  }  